.row {
    width: 90%;
    margin: 0 auto;
  }
  .block {
    display: inline-block
  }

  .text_item{
    width: 90%;
    display: block;
    margin: auto;
  }

  .right-wrapper {
    float: right;
    display: inline-block;
  }